body{
  margin: 0;
  font-family: 'News Cycle', sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
}


article{
  width: 60vw;
  /* background-color: blueviolet; */
  display: flex;
  margin: 1rem;
  /* padding: 10px; */
  /* flex-direction: column; */
  /* background-color: aqua; */

}


h2,p{
  margin: 0;
  padding: 0.5rem;
}
.news_content{
  /* color:blue; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* padding: 1rem; */
  /* align-items: center; */
  justify-items: center;
  align-content: center;
  justify-content: center;

}

.news_img{
  width: 40%;
  object-fit: contain;
  /* height: auto; */
  /* grid-column: 2/6; */
  /* border-radius: 0.6rem; */
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  
}

.news_article{


}
.news{
  margin: 1.3rem;
  /* padding: 2rem; */
}
.titlea{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
}
a:hover {
  color: rgb(110, 118, 194);
}


.read-btn{
  background: transparent;
  border-color: transparent;
  color:rgb(20, 15, 15);
  font-weight: 600;
}

.read-btn:hover{
  color: rgb(110, 118, 194);
}

.select {

  border: 1px solid  rgb(110, 118, 194);
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.6rem;
}


.click-btn{
  border-radius: 1rem;
  background: rgb(110, 118, 194);
  border: 1px solid rgb(110, 118, 194);
  color: rgb(255, 255, 255);
}
.click-btn:hover{
  background: rgb(152, 158, 211);
  /* color: rgb(37, 32, 32); */
}


