body {
  margin: 0;
  font-family: 'News Cycle', sans-serif;
  /* font-family: 'Noto Sans', sans-serif; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

article{
  width: 400px;
}

.newsimg{
  width: 100%;
  border-radius: 0.6rem;
}
.news_article{
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* align-self: center; */

}

.news{
  

}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlea{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
a:hover {
  color: rgb(110, 118, 194);
}
/* a:hover {
  background-color: rgb(73, 49, 138);
} */

.read-btn{
  background: transparent;
  border-color: transparent;
  color:rgb(20, 15, 15);
  font-weight: 600;
}

.read-btn:hover{
  color: rgb(110, 118, 194);
}
.news_article{
  /* background-color: rgb(35, 168, 124); */

}
option{
  /* color: aquamarine; */
  font-family: inherit;
}

.select {
  /* background-color: transparent; */
  /* border-color: transparent; */
  border: 1px solid  rgb(110, 118, 194);
  /* background-image: linear-gradient(to top, #f9f9f9, #fff 33%); */
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.6rem;
}

.select {
  /* // ...existing styles */
  /* display: grid; */
  /* gap: 1rem;
  color: aqua;
  border-radius: 20px; */
}
/* select:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
} */
/* select div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} */